@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links{
  display: flex;
  gap: 16px;
}
.right-links{
  display: flex;
  gap: 16px;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  color: black;
}

.content{
  flex:1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: bisque;
}
.inputs{
  margin-left: auto;
  margin-right: auto;
}
